{
  "extends": "airbnb-base",
  "rules": {
    "no-underscore-dangle": [
      "error",
      {
        "allow": [
          "_id",
          "_doc",
          "__v"
        ]
      }
    ],
    "linebreak-style": 0
  }
}